<% layout("layouts/boilerplate") %>

<div class="loginpage">

    <h1>Login</h1>

    <form method="POST" action="/auth">

        <input
        type="email"
        name="email"
        placeholder="Enter email"
        required
        >

        <br><br>

        <input
        type="password"
        name="password"
        placeholder="Enter password"
        required
        >

        <br><br>

        <button type="submit">
            Submit
        </button>

    </form>

    <br>

    <form method="GET" action="/auth/signup">

        <button type="submit">
            Create Account
        </button>

    </form>

</div>